<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creating post</title>
</head>
<body>
<form th:action="'/posts/create/'+ ${createPost.id}" method="post">
    <label for="title">Rename post title:</label><br>
    <input type="text" id="title" name="title" value=""><br>
    <label for="body">Rename post body:</label><br>
    <textarea id="body" name="body" rows="4"> cols="72" </textarea><br>
    <label for="btn"></label><br>
    <button type="submit" id="btn" name="btn" >Submit</button>
</form>

</body>
</html>