<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The roll dice Game</title>
    <link th:replace="partials/links :: links"/>
</head>
<body>
<header th:replace="partials/head :: head"></header>
<nav th:replace="partials/navbar :: navbar"></nav>

<h3>Please guess a number :)</h3>

<div class="dices" id="roles">
    <a href="/roll-dice/1">1</a>
    <a href="/roll-dice/2">2</a>
    <a href="/roll-dice/3 ">3</a>
    <a href="/roll-dice/4 ">4</a>
    <a href="/roll-dice/5 ">5</a>
    <a href="/roll-dice/6 ">6</a>
</div>


<!----------getting data from view-->
<h3>Random number:<span th:text="${random}">World</span>!</h3>
<h3>Alert: <span th:text="${rightGuess}">World</span>!</h3>

<footer th:replace="partials/footer :: footer"></footer>
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>